 body {
    display: flex;
    justify-content: center;
    align-items: center;
 }
.tableCon {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

td,th,table {
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 1000px
}

th{
    text-align: center;
    padding: 10px;

}

td {
    text-align: center;
}

.btn {
    border: 1px black solid;
    padding: 5px;
    border-radius: 7px;

}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    
}


.removeBtn{
    background-color: rgb(227, 26, 26);
}

.addBtn {
    width:30px;
    margin-bottom:7px ;

}