body {
    background-color: aliceblue;
    margin-top: 0px;
    margin-bottom: 0px;
}
a{
    text-decoration: none;
    color: black;
    text-align: center;


}
.pHeader{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pBody{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 300px;
    
    
}
.tableCon{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}
.addBtn {
    border: 1px solid black;
}
table {
    width: 1000px;
}
th{
    text-align: center;
    padding: 10px;
    background-color: rgb(49, 25, 25);
    color: aliceblue;
}
#idHead{
    background-color:aliceblue;
    color: black;
}
td{
    text-align: center;
}
td,th,table {
    border: 1px solid rgb(69, 69, 69);
    border-collapse: collapse;
}

.pFooter{
    background-color: rgb(31, 31, 31);
    color:whitesmoke;
    font-size: 10px;
   margin-bottom: 0px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}


.btn{
    border: 1px black solid;
    padding: 5px;
    border-radius: 7px;
}

.removeBtn{
    background-color: black;
    color: white;
}

#addFormCon {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.submitBtn{
    margin: 2px;
   display: flex;
   justify-content: center;
   align-items: center;
}